*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/food1.jpg);
    font-family: 'Poppins',sans-serif;
}
.menuu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding: 1.5rem 10%;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
 /*   grid-template-rows: auto 1fr;*/
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}

.cart_item_name {
    font-weight: 700;
}

.cart_item_price {
    font-style: oblique;
    font-family: cursive;
}
    

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}

 
.details>button{
    background-color: #2305e4;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
} 